.contact-main {
  background: url("../images/space.jpg");
  color: #fff;
  min-height: 100vh;
}

.contact-main-text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 1rem;
    min-width: 75%;
    text-align: center;
}

.contact-main-text h1{
    font-size: 4rem;
}

.contact-main-text p{
    font-size: 1.5rem;
    margin: 1rem 0 2rem 0;
}

.contact-main-text a{
    text-decoration: none;
    color: #fff;
    padding: 10px 25px;
    border: 1px solid #fff;
    position: relative;
}

.contact-main-text a::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    background-color: chocolate;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleX(0);
    transition: .2s ease-in-out;
}

.contact-main-text a:hover::before{
    transform: scaleX(1);
}

@media screen and (max-width: 600px) {
    .contact-main-text{
        width: 90%;
    }

    .contact-main-text h1{
        font-size: 2rem;
    }

    .contact-main-text p{
        font-size: 1rem;
    }
}

.contact-form{
    text-align: center;
    padding: 1rem;
}

.contact-form form{
    max-width: 500px;
    margin:2rem auto;
    display: flex;
    flex-direction: column;
}

.contact-form form input{
    height: 40px;
    padding: 5px 10px;
    outline: none;
    margin-bottom: 5px;
}

.contact-form form textarea{
    padding: 5px 10px;
    outline: none;
}

.contact-form form input:focus, .contact-form form textarea:focus{
    outline: 1px solid royalblue;
}

.contact-form form button{
    background-color: royalblue;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin:5px 0;
    transition: .3s ease-in-out;
}

.contact-form form button:hover{
    background-color: rgb(35, 64, 150);
}

.social-medias{
    max-width: 500px;
    margin:0 auto;
    text-align: left;
}

.social-medias ul li{
    list-style: none;
}

.social-medias ul li a{
    text-decoration: none;
    color: #555;
}

.social-medias ul li a:hover{
    color: #000;
}

.social-medias ul li a i{
    color: #000;
    margin-right: 5px;
}

.social-medias ul li a:hover i{
    color: rgb(70, 41, 173);
}