section {
  min-height: 100vh;
  background: -webkit-linear-gradient(top,rgba(4, 21, 34, 0.5),rgba(88, 87, 31, 0.6)), url('../images/lock.jpg') no-repeat;
  background: -moz-linear-gradient(top,rgba(4, 21, 34, 0.5),rgba(88, 87, 31, 0.6)), url('../images/lock.jpg') no-repeat;
  background-size: cover;
}

.login{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:rgba(255, 255, 255, 0.5);
    width: 350px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 20px;
}

.login h1{
    font-size: 2.5rem;
    text-align: center;
}

.login form{
    margin-top:1rem;
}

.login .form-item{
    display: flex;
    flex-direction: column;
    margin:10px 0;
}

.login .form-item:nth-child(3){
    align-items: center;
    flex-direction: row;
}

.login .form-item:nth-child(3) label{
    margin-left: 5px;
}

.login .form-item input{
    height: 40px;
    padding: 5px 10px;
    background: transparent;
    outline: none;
    border: 1px solid royalblue;
}

.login form button{
    background-color: royalblue;
    color: #fff;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.login form button:hover{
    background-color: rgb(39, 73, 177);
}