nav{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

nav .brand{
    display: flex;
    align-items: center;
}

nav .brand img{
    height: 50px;
    margin: 0 5px;
}

nav .brand a{
    color: #fff;
    text-decoration: none;
    font-size: 1.75rem;
    font-weight: bold;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: #ddd;
    padding: 5px;
    transition: .3s ease;
    position: relative;
}

nav ul li a:hover{
    color: #fff;
}

nav ul li a::after{
    content: '';
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left:0;
    transform: scaleX(0);
    transform-origin: left;
    transition: .3s ease-in-out;
}

nav ul li a:hover::after{
    transform: scaleX(1);
}

nav .fa{
    color:#fff;
    font-size: 2rem;
    display: none;
}

@media screen and (max-width:600px) {

    nav .fa{
        display: block;
    }

    nav ul .fa{
        margin-bottom: 30px;
    }

    nav .brand img{
        height: 40px;
    }

    nav .brand a{
        font-size: 1.2rem;
    }
    nav ul{
        flex-direction: column;
        position: absolute;
        top:0;
        right:0;
        width:35%;
        background-color: red;
        padding:10px;
        height: 100vh;
        z-index: 99;
        transform: scaleX(0);
        transition: .1s ease-in;
        transform-origin: right;
    }
    
    nav ul.menu{
        transform: scaleX(1);
    }

    nav ul li {
        margin-top:10px;
    }

    nav ul li a{
        font-size: 1rem;
        font-weight: bold;
    }
}